
/* navbar ----------------------------*/
* {
  font-family: helvetica;
  margin: 0;
}

.navbar {
  margin: 0;
  background: #eee;
  font-family: Besley, serif;
  background-color: #1F2937;
  margin-bottom: -1px;
}

.header {
  background: white;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 0 8px rgba(0,0,0,.1);
  display: flex;
  flex-direction: row;
  padding: 15px;
  justify-content: space-evenly;
  background-color: #1F2937;
}



.logo {
  font-size: 24px;
  font-weight: 900;
  color: #F9FAF8;
  background-color: #1F2937;
}


a {
  /* this removes the line under our links */
  text-decoration: none;
  color: #E5E7EB;

}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: nowrap;
}

.left, .right {
  display: flex;
  align-items: center;
  gap: 16px;
  background-color: #1F2937;  
}

.links {
  gap: 20px;
}
/* navbar ^^^^^^^^^^*/


/* 1st box ------------------------- */

.firstBox {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
background-color:  #1F2937;
}

.modal {
  background: white;
  width: 480px;
  border-radius: 10px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color:  #1F2937;
  
  color: #E5E7EB;
 
}
.title{
  font-size: 48px;
  font-weight: 600;
  color: #F9FAF8;
}

button.continue {
  background: royalblue;
  border: 1px solid royalblue;
  color: white;
  padding: 8px;
  border-radius: 8px;
  /* keeps button aligned on left border */
  margin:0;
}


/* what if we dont make modal a flex container*/
.modal{
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
}
/* good job*/

.modalTitle {
font-weight: bold;
font-size: large;
display: flex;
  
}

.text {
  display: flex;

}
.continue {
  margin-left: 50px;
  display: flex;
  flex-shrink: 0;

}

.placeholder {
  width: 400px;
  height: 200px;
  background: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  color:  #E5E7EB;
}

.firstBox {
  display: flex;
  flex-direction: row;
  
  max-width: auto;
  height: 150px;
  padding-top:60px;
  padding-bottom:60px;
}

/*<!---2ndSquare-^^^^^^^^^^^^^^^^^^> */

img {
  width: 100px;
  height: 100px;
  max-width: 200px;
}

.secondTitle {
  font-size: 36px;
  font-weight: 900;
  margin-bottom: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  
}

.container {
  display: flex;
  justify-content: center;
  align-itmes: space-evenly;
  gap: 25px;
  
  max-width: auto;
  height: 150px;
  padding-bottom: 20px;
}

.textTwo{
  width: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imgTwo {
  width: 160px;
  border-radius: 8px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

/*<!---2ndSquare-^^^^^^^^^^^^^^^^^^> */

.thirdcontainer {
  display:flex;
  flex:1;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: #E5E7EB;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-direction: column;
  max-width: auto;
  height: 150px;
  padding: 40px;

}


.bigpara {
  display:flex;
  font-style: italic;
  font-size: 26px;
  color: #1F2937;
  width: 590px;
  margin: 0;
  padding: 0;
}
/* flex exclude ^^^ to get to end */


#smallpara {
  display: flex;
  font-size: 18px;
  color: #1F2937;
  margin: 0;
  padding: 0;
  margin-top: -45px;
  margin-right: -300px;
  justify-content: flex-end;

}

.fourthcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;

}
.bluebox{
  display: flex;
  background-color: #3882F6;
  flex:1;
  max-width: 700px;
  height: 150px;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 8px;

}

.cAlLToAcTiOn{
  color:  #E5E7EB;
  font-size: 18px;
  font-weight: 500;
}
.fourthText {
  color:  #E5E7EB;
  font-size: 12px;

}

.lastButton {
  all: unset;
  display: flex;
  flex: 1;
  max-width: 70px;
  font-size: 18px;
  justify-content: center;
  align-items: center;
  background-color: #3882F6;
  color:  #E5E7EB;
  border-style: solid;
  padding: 6px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 5px;

}

.footer {
  background-color: #1F2937;
  color:  #E5E7EB;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;

}