/* navbar flexbox and controls */
.navbox {
  background-color: #1F2937;
 font-size: 18px;
 color: #E5E7EB;
  display: flex;
  justify-content: space-evenly;
  padding: 15px;
}
.left, .right {
  display: flex;
  align-items: center;
  gap: 16px;
  Font-color: #E5E7EB;
  Font-size: 18px;
  margin: auto;
}
/* logo controlls */
.logo {
  color: #F9FAF8;
  font-size: 24px;
  font-weight: 900;
}
/* navbar list */
ul {
 list-style-type: none;
 display: flex;
  margin: 0;
  padding: 0;
  gap: 16px;
}

/* this removes the line under the links */
.colorLinks {
  font-size: 18px;
  text-decoration: none;
  color: #E5E7EB;
}

/* header */
.header {
  background-color: #1F2937;
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: #E5E7EB;


  border: red;
  border-width: 2px;
  border-style: dotted;
  padding-top: 25px;
  padding-bottom: 25px;

/* ensures that header1 shrinks first */
  flex: 1 1 0%;


}
.header1{
/* ensures that header1 shrinks first */
  flex: 2 1 0%;


  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 500px;
  max-height: auto;
  background-color: #1F2937;

  border: red;
  border-width: 2px;
  border-style: dotted;
}
.header1 h3 {
font-size: 48px; }

.header2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1F2937;
  max-width: 500px;
  max-height: inherit;

  border: red;
  border-width: 2px;
  border-style: dotted;

}
.header button {
  display: flex;
  flex-shrink: 0;
  background-color:#3882F6;
  color: white;
 padding:15px;
  border-radius: 15px;

  /*
  background: #3882F6;
  padding: 20px;
  width: 100px;
  height: 25px;
*/}







/* start of code for enforcing sticky footer/grail layout and stretching content to fill page*/
.holygrail {
  display: flex;
  flex-direction: column;

  border: red;
  border-width: 2px;
  border-style: dotted;
}
/*sticky footer to bottom of page */
.stretch {
  display: flex;
  flex-direction: column;
  flex: 1;
}


/*some size rules for the moss image in firstBox, can be changed later */
#moss {
    max-width: auto;
    max-height: 300px;
}

/*secondBox is the box under firstBox
-later I can just concentrate them all under one rule but not yet */
.secondBox {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(237, 64, 235);
    justify-content: center;
    align-items: center;

    border: red;
  border-width: 2px;
  border-style: dotted;
}
/* b1 's rules make sure the images + text are given a box to live within
that is centered and gives them spaces in between each other*/
.b1 {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    border: red;
  border-width: 2px;
  border-style: dotted;

}
/* sets the maximum width of each secondBox image + its' associated text*/
.info {
    max-width: 200;
    max-height: auto;
    border: red;
  border-width: 2px;
  border-style: dotted;
}

img .info {
  max-width: 200px;
  max-height: 200px;
}
.surrender {
  max-width: 204px;
  max-height: 154px;
}
.text {
  display: flex;
  flex-wrap: wrap;
}
/*this box will have italicized medium text followed by
bold small text */
.thirdBox {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(235, 124, 233);
    font-style: italic;
    justify-content: center;
    align-items: center;
    gap: 15px;

    border: red;
  border-width: 2px;
  border-style: dotted;
    
}
/* text formatting*/
.c1 {
    display: flex;
    flex: wrap;
    flex-direction: row;

    border: red;
  border-width: 2px;
  border-style: dotted;
}
.c2 {
    display: flex;
    flex-wrap: wrap;
    font-size:large;
    font-weight: bold;
    font-style: normal;
    flex-direction: row;

    border: red;
  border-width: 2px;
  border-style: dotted;

}
/*final and fourth box, aka fourthBox */
.fourthBox {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(172, 115, 30);
    justify-content: center;
    align-items: center;

    border: red;
  border-width: 2px;
  border-style: dotted;
}
.d1 {
display: flex;
flex-wrap:wrap;
flex-direction: column;
max-width: 700px;
flex:1;

border: red;
  border-width: 2px;
  border-style: dotted;
}
.d2 {
display:flex;
flex-wrap: wrap;

border: red;
  border-width: 2px;
  border-style: dotted;
}

  .secondBox {
    flex: 1;

    border: red;
  border-width: 2px;
  border-style: dotted;
  }

/* sets max width of rock paper and scissor img*/
  .info img{
    max-width: 200px;

    border: red;
  border-width: 2px;
  border-style: dotted;
  }



  /*formatting for footer */
footer {
  border: 5px;
  background-color: #1F2937;
  display: flex;
  justify-content: center;
  align-items: center;

  border: red;
  border-width: 2px;
  border-style: dotted;
  }